body{
    margin: 0;
}

.container{
    width: 75%;
    margin: 0 auto;
}

section{
    border: 2px solid red;
}

.home-section{
    height: 100vh;
    background-image: url("../img/Rectangle.jpg");
    background-size: auto 100%;
    background-position: center;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-content .first-title{
    font-size: 16px;
    line-height: 20px;
    color: white;
}

h1{
    color: white;
}

.home-content .button-block button{
    font-size: 16px;
    line-height: 20px;
    color: white;
    background: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 14px 36px;
}